* {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

em, i {
    font-style: normal;
}

body {
    background-color: #2e797f;
}

a {
    text-decoration: none;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
}

.mask {
    width: 100%;
    height: 100%;
    background-color: rgba(50,50,50,0.6);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.to-combine {
    position: absolute;
}

.my-page {
    display: none;
}

body, .wrapper, #index {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#index {
    background: url("../images/indexlogo.png") top center no-repeat;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
}

#index ul.home-op-list {
    margin-top: 200px;
}

#index ul.home-op-list li {
    text-align: center;
}

#index ul.home-op-list li span {
    display: inline-block;
    width: 129px;
    height: 50px;
    color: #ffffff;
    font-size: 18px;
    line-height: 50px;
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 36px;
}

#index ul.home-op-list li span.begin {
    background-image: url("../images/btnbg1.png");
}

#index ul.home-op-list li span.my-score {
    background-image: url("../images/btnbg2.png");
}

#player .p-hd {
    overflow: hidden;
    padding: 0 10px 8px;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
}

#player .p-hd .nav {
    padding: 15px 0;
    overflow: hidden;
}

#player .p-hd .to-index {
    float: left;
}

#player .p-hd .barrier-progress {
    float: right;
}

#player .p-hd .barrier-progress em {
    padding: 0 5px;
    color: yellow;
}

#player .p-hd .time-tip {
    position: relative;
    height: 4px;
    background-color: #38bcaf;
}

#player .p-hd .time-tip .elapsed-time {
    height: 100%;
    width: 0;
    background-color: #f6ce6e;
}

#player .p-hd .time-tip .tick {
    position: absolute;
    left: 0;
    top: -4px;
    height: 12px;
    width: 4px;
    background-color: #8c6141;
}

#player .p-hd .remainder-time {
    font-size: 12px;
    margin-top: 8px;
    margin-left: 70%;
}

#question-area {
    width: 180px;
    height: 180px;
    margin: 50px auto 0;
    position: relative;
}

#question-area .stripe, #question-area .balls {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#question-area .stripe {
    border: 1px dashed #ffffff;
}

#question-area .stripe i {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    height: 0;
    border-bottom: 1px dashed #ffffff;
}

#question-area .stripe i.slash-ltor {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#question-area .stripe i.slash-rtol {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#question-area .balls .ball,.ball {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #f8ce6c;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#question-area .balls .placeholder, #question-area .balls .ball .num,.ball .num {
    position: absolute;
    width: 86px;
    height: 86px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px dashed #ffffff;
}

#question-area .balls .ball .num ,.ball .num{
    left: 6px;
    top: 6px;
    line-height: 86px;
    text-align: center;
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
    font-family: Calibri;
}

#question-area .balls .ball.covered,.ball.covered {
    background-color: #37d1bb;
    -webkit-box-shadow: 0 0 0 5px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0 0 0 5px rgba(50, 50, 50, 0.5);
    box-shadow: 0 0 0 5px rgba(50, 50, 50, 0.5);
}

#question-area .balls .ball.touched,.ball.touched {
    z-index: 1;
    background-color: rgba(252, 122, 48, 0.9);
}

#question-area .balls .ball.to-intersection,.ball.to-intersection {
    background-color: rgb(252,122,48);
}

#question-area .balls .ball.left-top {
    left: -50px;
    top: -50px;
}

#question-area .balls .placeholder.left-top {
    left: -43px;
    top: -43px;
}

#question-area .balls .ball.right-top {
    left: 130px;
    top: -50px;
}

#question-area .balls .placeholder.right-top {
    right: -43px;
    top: -43px;
}

#question-area .balls .ball.left-bottom {
    left: -50px;
    top: 130px;
}

#question-area .balls .placeholder.left-bottom {
    left: -43px;
    bottom: -43px;
}

#question-area .balls .ball.right-bottom {
    left: 130px;
    top: 130px;
}

#question-area .balls .placeholder.right-bottom {
    right: -43px;
    bottom: -43px;
}

.cal-result {
    position: absolute;
    width: 78px;
    height: 53px;
    line-height: 52px;
    color: #ffffff!important;
    font-weight: bold;
    font-size: 24px;
    font-family: Calibri;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    left: 24px;
    top: 32px;
}

.cal-result-1 {
    background-image: url("../images/subnuma.png");
}

.cal-result-2 {
    background-image: url("../images/subnums.png");
}

.cal-result-3 {
    background-image: url("../images/subnumm.png");
}

.cal-result-4 {
    background-image: url("../images/subnumd.png");
}

.cal-result {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.ball.to-combine .num {
    z-index: 99;
    background: inherit;
}

#player .btm-op {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

#player .btm-op span {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 15px;
}

#player .btm-op span.help {
    background-image: url("../images/help.png");
}

#player .btm-op span.restart {
    background-image: url("../images/restart.png");
}

.help-panel {
    position: absolute;
    width: 300px;
    left: 50%;
    top: 50%;
    margin-top: -180px;
    margin-left: -150px;
    height: 360px;
    background-color: #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 3px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0 0 3px rgba(50, 50, 50, 0.5);
    box-shadow: 0 0 3px rgba(50, 50, 50, 0.5);;
}

.help-panel .help-icon {
    width: 100%;
    height: 120px;
    margin-top: 30px;
    background: url("../images/helpimage.png") top center no-repeat;
    background-size: contain;
}

.help-panel .help-cnt {
    margin-top: 30px;
    color: #666;
    font-size: 14px;
    text-align: center;
    padding: 0 10px;
}

.help-panel .i-know {
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px #333;
    background: url("../images/btnbg3.png") top center no-repeat;
    height: 45px;
    line-height: 45px;
    width: 100%;
    display: inline-block;
    background-size: contain;
    margin-top: 30px;
}

.success-info,.failure-info {
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
}

.answer {
    overflow: hidden;
    margin-top: 10px;
}

.answer .tip {
    height: 36px;
    line-height: 36px;
    padding: 0 30px;
    background-color: #276165;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    display: inline-block;
}

.success-info .score {
    margin-top: 30px;
    overflow: hidden;
}

.success-info .score .cur-score {
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: rgb(252,122,48);
    line-height: 100px;
    font-size: 50px;
    font-weight: bold;
}

.success-info .score .total-score {
    padding-top: 25px;
    font-weight: normal;
}

.success-info .score .total-score em {
    font-weight: bold;
}

.success-info .next-question {
    height: 50px;
    line-height: 50px;
    background: url("../images/btnbg1.png") top center no-repeat;
    background-size: contain;
    text-shadow: 1px 1px #999;
    margin-top: 30px;
    padding-left: 24px;
}

.failure-info .game-over {
    background: url("../images/gameover.png") top center no-repeat;
    background-size: contain;
    height: 50px;
    margin-top: 70px;
}

.failure-info .cur-round-score {
    margin-top: 20px;
    font-weight: normal;
}

.failure-info .cur-round-score em {
    color: rgb(252,122,48);
    font-weight: bold;
    padding-left: 5px;
}

.failure-info .highest-score {
    font-weight: normal;
    margin-top: 20px;
}

.failure-info .highest-score em {
    font-weight: bold;
    padding-left: 5px;
}

.failure-info .goon-game {
    height: 50px;
    line-height: 50px;
    margin: 50px auto 0;
    width: 131px;
    background: url("../images/btnbg1.png") top center no-repeat;
    background-size: cover;
    padding-left: 34px;
    text-shadow: 1px 1px #999;
}

.op-list {
    margin-top: 15px;
}

.op-list span {
    display: inline-block;
    width: 80px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
}

.op-list span.go-home {
    background-image: url("../images/backmenu.png");
    border-right: 2px solid #32797F;
}

.op-list span.share {
    background-image: url("../images/share.png");
    border-right: 3px solid #32797F;
}

#best_score {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
}

#best_score .show-panel {
    position: absolute;
    width: 290px;
    height: 320px;
    left:50%;
    top:50%;
    margin-top: -200px;
    margin-left: -145px;
    background: url("../images/scorebg.png") no-repeat;
    background-size: cover;
    text-align: center;
}

#best_score .show-panel .score {
    margin-top: 150px;
    font-size: 40px;
    color: #ffffff;
}

#best_score .show-panel .barrier-num {
    margin-top: 20px;
    color: #ffffff;
}

#best_score .show-panel .barrier-num em {
    font-weight: bold;
}

#best_score .op-list {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -80px;
}

.arrow {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 122px;
    height: 122px;
    background: url("../images/arron.png") no-repeat;
    background-size: cover;
}

.share-tip-msg {
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    margin-top: 130px;
}